<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body id="about_body">
		<header>
			<a href="/">Home</a>
			<a href="/about">Abous Us</a>
			<a href="/contact">Contact Us</a>
		</header>
		<h1><b>Things About Me</b></h1>
		<ol style="color:orange">
			<li>I love cinema. Some of my favorite working directors include P.T Anderson, Quentin Tarantino, and the Coen brothers.</li>
			<li>My favorite films from the last fifteen years are "the eternal sunshine of the spotless mind", "no country for old men", and "hot fuzz."</li>
			<li>I am a huge fan of Roger Federer, and he just won two grand slams this year!!</li>
			<li>I love all kind of music, but at the moment, I am really digging lil uzi vert.</li>
		</ol>
		<footer>
			<a href="/">Home</a>
			<a href="/about">Abous Us</a>
			<a href="/contact">Contact Us</a>
		</footer>
	</body>
</html>
