<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 2 - INFO 253 Web Architecture</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body id="index_body">
		<header>
			<a href="/">Home</a>
			<a href="/about">Abous Us</a>
			<a href="/contact">Contact Us</a>
		</header>

		<h1>Paul's Attic</h1>
		<a href="/about">About Us</a><br><br>
		<div class="blog">
			<a href="/m1">8 Experiments in Motivation</a><br>
			<a href="/m2">A Mindful Shift of Focus</a><br>
			<a href="/m3">How to Develop an Awesome Sense of Direction</a><br>
			<a href="/m4">Training to Be a Good Writer</a><br>
			<a href="/m5">What Productivity Systems Won't Solve</a><br><br>
		</div>

		<a href="/contact">Contact Us</a>

		<footer>
			<a href="/">Home</a>
			<a href="/about">Abous Us</a>
			<a href="/contact">Contact Us</a>		
		</footer>
	</body>
</html>
	
